<div id="produtos">
<h1>Produtos</h1>

<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Cardinalidade</th>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngFor="let produto of responseProdutos">
            <td>{{ produto.ProdutoId }}</td>
            <td>{{ produto.Nome }}</td>
            <td>{{ produto.Quantidade }}</td>
            <td>R$ {{ produto.Preco }}</td>
            <td>{{ produto.Cardinalidade }}</td>
        </tr>
    </tbody>
</table>
</div>
