#produtos{
    margin-top: 140px;
}
#produtos h1{
    font-family: "Indie Flower";
    font-size: 28px;
    text-align: center;
}
table{
    width: 70%;
    border: 1px solid #abe63c;
    table-layout: fixed;
    min-width: 620px;
    
}
thead{
    background: #abe63c;
    font-family: "Indie Flower";
}

thead tr th{
    text-align: center;
}

tbody{
    color: #567223;
}